html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}


/* Navbar */

.top-nav {
    margin: 0;
    background-color: #393E41!important;
}

.top-nav p {
    padding-top: 10px;
    color: white;
}

.navbar-brand {
    font-weight: bold;
}

.cart-mobile {
    visibility: collapse;
}

.bg-green {
    background-color: #D3D0CB;
}

.btn-yellow,
.bg-yellow {
    background-color: #E7BB41!important;
}


/* carousel */

.bg {
    background: url('https://images.unsplash.com/photo-1598720290281-9f26ae6d6f81?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}


/* content */

.title h3 {
    width: 100%;
    text-align: center;
    border-bottom: 5px solid gray;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.title h3 span {
    background: #fff;
    padding: 0 10px;
}

.quantity {
    display: flex;
    flex-direction: row;
}

.quantity .badge {
    color: #000;
    border: 1px solid black;
    margin: 0 5px 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.quantity .badge #badge-text {
    margin: auto;
}

.btn-cart {
    margin-left: 5px;
}

.text-justify {
    text-align: justify;
}


/* #product-detail {
    margin-bottom: 20%
} */

.detail-mobile {
    display: none;
}

.product-detail-title {
    font-weight: bold;
}

.price-detail {
    font-weight: bold;
}

.customer-photo {
    height: 150px;
    width: 150px;
}


/* footer */

.wa-chat-box-poweredby {
    display: none;
}

.footer-1 {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* responsive top nav on mobile view */

@media only screen and (max-width: 767px) {
    body {
        font-size: 3.5vw;
    }
    .top-nav #phone-number,
    #email {
        display: none;
    }
    .top-nav #response-text {
        margin: auto;
        padding-top: 0;
    }
    .navbar {
        display: flex;
    }
    .navbar-brand {
        margin: auto;
    }
    .cart-mobile {
        visibility: visible;
    }
    .cart-desktop {
        visibility: collapse;
    }
    .row>* {
        width: 50%!important;
    }
    .detail-desktop {
        display: none;
    }
    .detail-mobile {
        display: block;
    }
}